h3,p{ margin: 0; padding: 0;}
body{padding: 0; margin: 0;}
h3{font-size: 18px; font-weight: normal; margin: 15px 0 10px; padding-top: 35px; text-align: center;}
p{margin-bottom: 5px; font-size: 14px; color: #999; text-align: center;}
#timeline{
    width: 550px;
    height: 490px;
    margin-left: 10px;
    margin-top: 80px;

}
.timecenter{
    position: relative;
    display: inline-block;
    margin-top:-80px;
    height: 470px;
    width: 600px;
}
.timeline-box{
   width: 140px;
   height: 140px;
   box-shadow: 0 0 5px 2px rgba(135,135,135, 0.15);
   position: absolute;
   left: 0;
   right: 0;
   background-color: #FFF;
   z-index: 1;
   opacity: 0;
   transition: 0.5s;
  
   transform: scaleX(0);
}
.timeline-box:nth-child(odd){
    top:55px;
}
.timeline-box:nth-child(even){
    bottom: 40px;
}

.timeline-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    text-align: center;
    z-index: -1;
}
.timeline-box::after{
    content: "";
    width: 15px;
    height:15px;
    position: absolute;
	text-align: center;
    left: 50%;
    background-color: #FFF;
    transform:translateX(-50%)rotate(45deg);
    box-shadow: 0 0 5px 2px rgba(135,135,135, 0.15);
    z-index: -2;

}
.timeline-box h3{
	display: block;
	color: red;
	margin-top: -2px;
}



.timeline-box:nth-child(odd)::after{
    bottom:-7.5px;
}
.timeline-box:nth-child(even)::after{
    top:-7.5px;
}
.timeline-box:nth-child(1)
{
    left: 20px;
}
.timeline-box:nth-child(2)
{
    left: 100px;
}
.timeline-box:nth-child(3)
{
    left: 185px;
}
.timeline-box:nth-child(4)
{
    left: 270px;
}
.timeline-box:nth-child(5)
{
    left: 360px;
}
.header{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%; 
    margin-left: -35px;
    display: flex;
    justify-content: center;
    text-anchor: middle;
    background-color: #FFF;
    padding:10px;
    border-radius: 50%;;
    box-sizing: border-box;

}

.timeline-box:nth-child(odd) .header{
    top: -35px;
}
.timeline-box:nth-child(even) .header{
     bottom: -35px;
}
.header::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;   
    border-radius: 50%;;
    box-shadow: 0 0 5px 2px rgba(135,135,135, 0.15);
    z-index: -2;
}
.header img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.5s;
}


.timeline_div{
    width: 450px; 
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;   
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.timeline_div div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffae12;
    border: 5px solid #f6f6f6;

}

.f-border{

    border-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);

}
.active{

   border:5px;
   border-color: #fff;
   box-shadow: 0 0 10px 3px #ffae12;
}

#meaning{
	width: 550px;
	height: 450px;
	float: right;
	margin-right: 20px;
	margin-top:20px ;
}

#meaning1{
	width: 400px;
	height: 50px;
	line-height: 50px;
	float: left;
	margin-left: 120px;
	margin-top:15px ;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	
}
.meaningimgs1{
	width: 50px;
	height: 50px;
	position: absolute;
	background: url(../img/第五封信小图标.jpg);
}

#meaning11{
	width: 350px;
	height: 50px;
	line-height: 50px;
	float: left;
	margin-left: 50px;
	font-size: 22px;
	color: black;
	font-weight: 700;
}


#meaning2{
	width: 360px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 160px;
	margin-top:20px ;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	
	
}
.meaningimgs2{
	width: 40px;
	height: 40px;
	position: absolute;
	background: url(../img/第五封信小图标2.jpg);
}


#meaning21{
	width: 310px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 50px;
	font-size: 18px;
	color: black;
	font-weight: 700;
	
}

.meaningimgs3{
	width: 40px;
	height: 40px;
	position: absolute;
	background: url(../img/第五封信小图标3.jpg);
}

#meaning3{
	width: 290px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 230px;
	margin-top:15px ;
	color: black;
	font-size: 15px;
	font-weight: 700;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

